{
    "apps": [
        {
            "name": "peresourcing_backend",
            "script": "./app.js",
            "instances": 1,
            "autorestart": true,
            "watch": false,
            "time": true,
            "env_production": {
                "NODE_ENV": "production"
            }
        }
    ]
}